/* Reset
------------------------------------------------------------------------------------ */
body {
  background-color: #FFFFFF;
  line-height: 1.5;
}
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
code,
del,
em,
img,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
footer,
header,
hgroup,
nav,
section {
  border: 0;
  font-family: "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: inherit;
  font-size: 100%;
  font-weight: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
article,
aside,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption, table th, table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: none;
}
a:focus {
  outline: 0;
}
/* Layout
-------------------------------------------------------------- */
body {
  background-color: #C5CCD3;
  background-image: url("../img/pinstripes.png");
  background-position: 0 0;
  background-repeat: repeat;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 0 0 10px;
  padding: 0;
}
header {
  background-color: transparent;
  background-image: url("../img/bgHeader.png");
  background-repeat: repeat-x;
  background-position: 0 0;
  border-bottom: 1px solid #2E3744;
  margin: 0 0 0 -10px;
  min-height: 44px;
  padding: 0;
}
footer {
  background-color: transparent;
  background-image: url("../img/bgHeader.png");
  background-repeat: repeat-x;
  background-position: 0 0;
  border-top: 1px solid #2E3744;
  bottom: 0;
  left: 0;
  margin: 0;
  min-height: 44px;
  padding: 0;
  position: fixed;
  width: 100%;
}
.hide {
  display: none;
}
/* Typography
-------------------------------------------------------------- */
h1 {
  color: #FFFFFF;
  font-size: 20px;
  font-weight: bold;
  left: 50%;
  line-height: 30px;
  margin: 2px 0 0 -24%;
  overflow: hidden;
  padding: 5px 0;
  position: absolute;
  text-align: center;
  text-shadow: 0 -1px 0 #2d3642;
  top: 0;
  white-space: nowrap;
  width: 49%;
}
ul {
  background: #FFFFFF;
  border: 1px solid #B4B4B4;
  border-bottom-left-radius: 8px 8px;
  border-bottom-right-radius: 8px 8px;
  border-top-left-radius: 8px 8px;
  border-top-right-radius: 8px 8px;
  color: #101010;
  font-size: 17px;
  font-weight: bold;
  left: 50%;
  line-height: normal;
  margin: 15px 10px 17px 0;
  padding: 0;
}
ul li {
  border-top: 1px solid #B4B4B4;
  color: #666666;
  list-style-type: none;
  padding: 10px;
}
ul li:first-child {
  border-top: 0px;
  border-top-left-radius: 8px 8px;
  border-top-right-radius: 8px 8px;
}
ul li a {
  color: #000000;
  display: block;
  margin: -10px;
  overflow: hidden;
  padding: 12px 10px;
  text-decoration: none;
  white-space: nowrap;
}
/* Form
-------------------------------------------------------------- */
form {
  padding: 0 20px 0 0;
}
form label {
  color: #0C0C0C;
  display: block;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  text-shadow: 0px 1px 0px #FFFFFF;
}
form input[type=text] {
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5em;
  margin-left: 0;
  padding: 6px;
  resize: none;
  width: 100%;
}
form input[type=text]:focus {
  outline: 0;
}
form textarea {
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.2em;
  margin-left: 0;
  padding: 6px;
  resize: none;
  width: 100%;
}
form textarea:focus {
  outline: 0;
}
