@import "global";

/* First Time Using App
-------------------------------------------------------------- */
#first-time {
	background-color: #FFFFFF;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	color: #999999;
	margin: 0 10px 0 0;
	padding: 40px 20px 90px;
	text-align: center;
	a {
		color: #999999;
		text-decoration: none;
	}
	span {
		color: #AAAAAA;
		text-shadow: 0px -1px 0px #2D3642;
		font-size: 170px;
		a {
			color: #AAAAAA;
		}
	}
}


/* Buttons
-------------------------------------------------------------- */
#button-add {
	color: #FFFFFF;
	display: block;
	font-size: 29px;
	padding: 0 10px;
	position: absolute;
	right: 12px;
	text-decoration: none;
	text-shadow: 0 -1px 0 #2D3642;
	top: 3px;
}

.button {
	background-color: #385588;
	background-image: url("../img/backgrounds.png");
	background-repeat: repeat-x;
	background-position: 0 0;
	border-color: #233354;
	border-style: solid;
	border-width: 1px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	color: #FFFFFF;
	float: right;
	font-size: 0.7em;
	margin: 8px;
	padding: 5px 8px;
	text-decoration: none;
	text-shadow: 1px -1px 0 #516075;
	height: 16px;
	&:active, &:hover, &:focus {
		background-position: 0 -79px;
		border-color: #1532A5;
	}
}
.button.create, .button.remove {
	height: 18px;
	margin: 7px 5px 5px;
	padding: 5px 5px 6px 6px;
	text-indent: -999999px;
	width: 20px;
}
.image span {
	background-repeat: no-repeat;
	float: left;
	height: 20px;
	text-indent: -999999px;
	width: 20px;
}
.create span {
	background-image: url("../img/buttons.png");
	background-position: 0 0;
}
.remove span {
	background-image: url("../img/buttons.png");
	background-position: -1px -22px;
}


/* Pages
-------------------------------------------------------------- */
#page-list {
}

#page-edit{
}