/* Reset
------------------------------------------------------------------------------------ */
body {
  background-color: #FFFFFF;
  line-height: 1.5;
}
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
a,
code,
del,
em,
img,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
footer,
header,
hgroup,
nav,
section {
  border: 0;
  font-family: "Lucida Grande", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: inherit;
  font-size: 100%;
  font-weight: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
article,
aside,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption, table th, table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: none;
}
a:focus {
  outline: 0;
}
